@keyframes flashYellow {
    from {color: #F0F0F0;}
    to {color: yellow;}
}
body {
    font: 32px Arial, sans-serif;
    color: #F0F0F0;
    margin: 30px;
    background: #222222;
}
svg {
    height: 100%;
    width: 100%;
}
svg>circle {
    cx: 50%;
    cy: 50%;
    stroke-width: 1.5px;
}
h1, h4 {
    text-align: center;
}
.game {
    display: flex;
    flex-direction: column;
    background: radial-gradient(#2A2A2A, #222222);
    align-items: center;
}
.centerDisplay {
    width: 100%;
}
.centerDisplay, .blackScore, .whiteScore {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.score[loading='1'] {
    animation: flashYellow 1s 1;
}
.board {
    border: 40px solid #603005;
}
.square {
    background: #14A7D0;
    border: 2px solid #303030;
    float: left;
    height: 80px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0px;
    width: 80px;
    outline: none;
}
.square:hover {
    background: #24B7E0;
}
.square:active {
    background: #34C7F0;
}